$main-color : #5199E5;
$font-color:black;
$first-font-family : 'Lato', sans-serif;
$second-font-family : 'Quicksand', sans-serif;
.main{
   justify-content: space-between;
   align-items: center;
    margin: 0;
    background-color: $main-color;
    padding: 0;
    .logo{
        img{
            width: 80%;
        }
    }
    .list{
        a{
            margin-left: 1rem;
            font-size: large;
            font-family: $first-font-family;
            color: black;
        }
    }
}